
html, body {
	height: 100%;
    padding: 0;
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #fdf6e3;
}
hr {
	border: 0;
	background: #fdf6e3;
	height: 5px;
}
h1 {
	font-size: 100%;
	display: inline;
	margin: 0;
}
img, svg {
    vertical-align: bottom;
    border: 0;
}


.wrap {
	height: 100%;
}
#linemarker {
	background: rgba(220,50,47,0.5);
	position: absolute;
	left: 0;
	top: -30px;
	width: 40px;
	height: 22px;
	z-index: 4;
}
#textarea {
	outline: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	box-sizing: border-box;
	border: 0;
	font-family: Consolas, Menlo, monospace;
	color: #657b83;
	padding: 30px 0 0 40px;
	resize: none;
	opacity: 1;
	transition: opacity 0.3s;
}
.CodeMirror {
  height: 100%;
  border: 0;
  width: 100%;
  padding: 22px 0 0 0;
  line-height: 25px;
  font-size: 16px;
  font-family: Consolas, Monaco, monospace;
  opacity: 1;
  transition: opacity 0.3s;
}

.CodeMirror .CodeMirror-linenumber {
  color: #D4CEBD;
  padding-left: 12px
}
.canvas-mode .CodeMirror {
	opacity: 0;
	transition: opacity 1s;
}

#canvas-panner {
	position: absolute;
	z-index: 2;
	width: 33%;
	height: 100%;
	background: rgba(0,0,0,0);
	top: 0;
	right: 20px;
	bottom: 0;
	cursor: move;
}
#linenumbers {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 100%;
	background: #eee8d5;
	color:#D4CEBD
}
#linenumbers.error {
	background: rgba(220,50,47,0.2);
	z-index: 4;
}
#canvas {
	position: absolute;
	cursor: move
}
a, a:active, label {
	color: #0008;
	text-decoration: none
}
a:hover, label:hover {
	color: #000C;
	text-decoration: none
}
a svg,
label svg {
	fill: #0008;
}
a:hover svg,
label:hover svg {
	fill: #000C;
}
a img {
	opacity: 0.5;
}
a:hover img {
	opacity: 0.75;
}
.tools {
	display: block;
	position: absolute;
	z-index: 4;
	top: 25px;
	right: 20px;
	font-family: Calibri, Helvetica, sans-serif;
	font-weight: bold;
	background: #fdf6e3;
	border-radius: 5px;
}
.tools .canvas-tools {
	display: block;
	position: absolute;
	top: 60px;
	right: -5px;
	width: 34px;
	opacity: 0;
	transition: opacity 1s;
}
.canvas-tools .canvas-button {
	box-sizing: border-box;
	width: 34px;
	height: 34px;
	background: #fdf6e3;
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 5px;
}
.canvas-tools .canvas-button a {
	display: block;
}
.canvas-mode .canvas-tools {
	opacity: 1;
	transition: opacity 0.3s;
}
.tools img, .tools svg {
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
}
.tools>a {
	margin-left: 5px;
}
.tools>.logo {
	font-size: 150%;
}
.tools>#tooltip {
	font-size: 90%;
	color: #807C72;
	position: fixed;
	top: 1px;
	right: 20px;
	text-align: right;
	background: #fdf6e3;
	border-radius: 2px;
	padding: 0 5px;
}

.storage-tools {
	position: fixed;
	top: 7px;
	right: 0;
	left: 0;
	height: 1px;
	text-align: center;
}

.storage-status {
	display: none;
	background: #fdf6e3;
	color: #0008;
	font-style: italic;
	border-radius: 8px;
	padding: 10px 15px;
}
.storage-status.visible {
	display: inline-block;
}
.storage-status a {
	border: 2px solid #0008;
	color: #0008;
	padding: 0 5px;
	margin: 0 0 0 10px;
	border-radius: 4px;
	font-style: normal;
	opacity: 1;
}
.storage-status a:hover {
	background: #3332;
}

.hint {
	position: absolute;
	top: 65px;
	right: 60px;
	width: 220px;
	transform: rotate(-10deg);
	color: #0008;
	font-family: "Marker Felt", "Segoe Script", Calibri, Helvetica, sans-serif;
}
.hint svg {
	display: block;
	margin: 0 0 0 auto;
}
.hint.hidden {
	display: none;
}

.sidebar {
	display: none;
	position: absolute;
	z-index: 3;
	top: 0px;
	right:0;
	bottom: 0;
	width: 325px;
	background-color: #fdf6e3;
	box-shadow: -3px 0 6px rgba(0, 0, 0, 0.28);
}
.sidebar.visible {
	display: block;
	overflow: auto;
}
.sidebar .logo-background {
	position: fixed;
	top: 0;
	right: 20px;
	width: 300px;
	height: 70px;
	background: #fdf6e3
}
.content {
	display: block;
	color: #586e75;
	font-family: Consolas, Monaco, monospace;
	padding: 70px 10px 200px 20px;
}
.content p {
	font-family: Calibri, Helvetica, sans-serif
}
.content pre {
  border-radius: 3px;
  background: #eee8d5;
  padding: 5px;
  margin: 2px 0px;
  font-family: Consolas, Monaco, monospace;
  font-size: 14px;
}
.content h3{
	display: block;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
	margin: 1em 0 0 0;
	font-size: inherit;
	font-weight: normal;
}
.content h2{
	font-size: inherit;
	display: block;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
	margin: 1em -10px 10px -20px;
  border-bottom: 1px solid #0004;
  padding: 15px 0 7px 20px;
}
.content b {
	display: inline-block;
	font-weight: normal;
	width: 40%;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
}



.file-menu .btn {
  display: block;
  padding: 1px;
  margin: 0 30px 10px 0;
  border-radius: 6px;
  font-family: Calibri, Helvetica, sans-serif;
  cursor: pointer;
}
.file-menu .btn:hover { background: rgba(0,0,0,0.07); }
.file-menu label.btn input[type=file] { position: absolute; top: -40px; }
.file-entry {
  display: flex;
  align-items: center;
  margin: 0 -10px 0 -20px;
  padding: 0 30px 0 0;
  border-bottom: 1px solid #0002;
  font-family: Calibri, Helvetica, sans-serif;
}
.file-entry.active { background: #0001; }
.file-entry a[href] { display: block; padding: 8px 2px 8px 20px; }
.file-entry:hover { background: rgba(0,0,0,0.07); }
.file-entry a:first-child { flex-grow: 1; }
.file-entry img { width: 24px; height: 24px; vertical-align: baseline; }
