
html, body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #fdf6e3;
}
hr {
	border: 0;
	background: #fdf6e3;
	height: 5px;
}
.wrap {
	position: relative;
	min-height: 100%;
}
#linemarker {
	background: rgba(220,50,47,0.75);
	position: absolute;
	left: 0;
	width: 33px;
	height: 18px
}
textarea {
	line-height: 18px;
	font-size: 16px;
}
#textarea {
	outline: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	box-sizing: border-box;
	border: 0;
	font-family: Consolas, Monaco, monospace;
	color: #657b83;
	padding: 30px 0 0 40px;
}
#linenumbers {
	outline: none;
	position: absolute;
	text-align: right;
	width: 33px;
	height: 100%;
	background: #eee8d5;
	color: #D4CEBD;
	border: 0;
	box-sizing: border-box;
	font-family: Consolas, Monaco, monospace;
	padding: 30px 5px 0 0;
	overflow-x: hidden;
	overflow-y: hidden;
	resize: none; 
}
#canvas {
	position: absolute;
}
a, a:active {
	color: #000;
	opacity: 0.5;
	text-decoration: none
}
a:hover {
	color: #000;
	opacity: 0.75;
	text-decoration: none
}
.tools {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	font-family: Calibri, Helvetica, sans-serif;
	font-weight: bold;
}
.tools img {
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
}
.tools>a {
	margin-left: 5px;
}
.tools>.logo {
	color: #000;
	font-size: 175%;
}
.tools>#tooltip {
	color: #000;
	opacity: 0.5;
	position: fixed;
	top: 7px;
	right: 25px;
	text-align: right
}
.tools>#storage-status {
	color: #000;
	opacity: 0.5;
	font-style: italic;
	position: fixed;
	top: 7px;
	right: 0;
	display: block;
	width: 100%;
	text-align: center
}

.sidebar {
	display: none;
	position: absolute;
	top: 0px;
	right:0;
	bottom: 0;
	width: 320px;
	background-color: #eee8d5;
	border-left: 6px solid #fdf6e3;
}
.sidebar.visible {
	display: block;
	overflow: auto;
}
.sidebar .logo-background {
	position: fixed;
	top: 0;
	right: 20px;
	width: 300px;
	height: 70px;
	background: rgba(238, 232, 213, 0.75)
}
.content {
	display: block;
	color: #586e75;
	font-family: Consolas, Monaco, monospace;
	padding: 70px 10px 200px 20px;
}
.content p {
	font-family: Calibri, Helvetica, sans-serif
}
.content label{
	display: block;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
	margin-top: 1em;
}
.content h2{
	font-size: inherit;
	display: block;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
	margin-top: 1em;
}
.content b {
	display: inline-block;
	font-weight: normal;
	width: 40%;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
}